body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container-fluid{
    padding : 3% 15% 10%;
}

#title{
    text-align: left;
    background-color: #fd375f;
}

/* Headings */

h1, h2, h3 h4{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.bigHeading{
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
}

.sectionHead{
    font-weight: 600;
    font-size: 3rem;
}

.smallHead{
    font-weight: 600;
}

p{
    color: #8f8f8f;
}


/* NavBar and Title*/

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-style: bold;
}

.dbtn{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 24%;
    transform: rotate(25deg);
    position: absolute;
}

/* Features */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box{
    padding: 4.5%;
}



.Ficon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.Ficon:hover{
    color :#fd375f;
}

/* Testimonials */

#testimonials{
    position: relative;
    background-color :#fd375f;
    color: #fff;
}



.carousel-item{
    padding: 7% 15%;
}

.tImg{
    border-radius: 50%;
    width: 10%;
    margin: 20px;
}

/* Sponsers */

#press{
    padding-bottom: 3%;
    background-color :#fd375f;
}

.pImg{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;
}

.priceCol{
    margin: 2rem auto;
}

/* Call to Action */

#cta{
    background-color :#fd375f;
    padding:  7% 10% 0%;
}

.ctaBtn{
    margin-top: 7%;
}

/* Footer */

#footer{
    padding:  7% 7% 0;
}

.links{
    color: black;
    padding: 0 2% 0;
}

.cprt{
    margin-top: 3%;
}

@media (max-width:1028px){

    .title-img{
        position: static;
        transform: rotate(0);
    }
}
